body {
    background-color: #fffccc; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

header {
    color: #360f0f;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33vw;
    margin-top: 20px;
}

.timer {
    color: #924417;
}